*.bak
*.tmp
*.aux
*.mat
*.sas7bdat
*.dta
*.csv
*.rar
*.zip
*.gz
*.tgz
*.xz
*.7z
*.tar
*.DS_Store
__MACOSX/
.rproj*
*.RData
*.Dat
*.dbf
*.prj
*.shp
*.shx
*.xml
*.cpg
*.sbn
*.sbx
*.mpk
*.Rds
*.RDs
*.RDS
*.rds
*.RDA
*.Rda
*.txt
*.tif*
*.tfw
*.pkl
*.PKL
*.pbf
*.jld2
!R*.txt
!R*.TXT
*.TXT
*.dat
stata.lic
.Rhistory
.Rproj.user
codeocean-*-live
!pii_stata_output.csv
!code-check.xlsx
!signalcommands.txt
!stopwords.txt
!candidatepackages.xlsx
!requirements*.txt
build/requirements.txt
tmp
test
.vscode
*.npy
__pycache__
libraries
