*.aux
*.mat
*.sas7bdat
*.dta
*.csv
*.zip
*.gz
*.7z
*.tar
*.DS_Store
__MACOSX/
.rproj*
*.RData
*.Dat
*.dbf
*.prj
*.shp
*.shx
*.xml
*.Rds
*.RDs
*.RDS

.Rproj.user
!pii_stata_output.csv
!code-check.xlsx

